.button {
  background: var(--primary);
  color: var(--secondary-light);
  align-self: center;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: var(--secondary);
  color: var(--primary);
  box-shadow: 5px 5px 5px var(--primary-light);
}
