.main__header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  color: var(--secondary-light);
}

.main__headline {
  font-weight: 100;
  font-size: 1.5em;
}
