.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2px;
}

.navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
}

.navigation__link--active {
  background: var(--secondary);
}

.navigation__icon {
  width: 30px;
  height: auto;
  filter: invert(1);
}

.navigation__link--active > .navigation__icon {
  filter: invert(0);
}
