.question {
  padding: 20px;
  background: #eee;
  box-shadow: 0 6px 8px #0005;
}

.question__title {
}

.question__question {
}

.question__answer {
  display: none;
}

.question__taglist {
}

.question__bookmark {
}
