.question {
  display: flex;
  flex-flow: column;
  padding: 20px;
  background: #8da9c4;
  box-shadow: 0 6px 8px #0005;
}

.question__title {
}

.question__question {
}

.question__answer {
  display: none;
}

.question__taglist {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
}

.question__taglist > li {
  background: var(--secondary);
  border: 2px solid var(--secondary);
}

.question__bookmark {
  width: 30px;
  height: auto;
}
