.taglist {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style: none;
}

.taglist > li {
  background: var(--secondary);
  border: 2px solid var(--secondary);
}

.taglist__tag {
  flex-shrink: 3;
}
