.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.scrollable {
  overflow: scroll; //wenn der Inhalt größer wird als sein container soll es scrollen
}

.p-20 {
  padding: 20px;
}

.gap-20 {
  display: grid;
  gap: 20px;
}

.pl-0 {
  padding-left: 0;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}
.p-5p {
  padding: 5%;
}

.m-20 {
  margin: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.horizontal-center {
  margin: 0 auto;
}

.d-flex {
  display: flex;
}
